#popUps {
    position: fixed;
    height: 0;
    width: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.popUp {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(220, 220, 196);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
}

.popUp>div {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
    z-index: 1;
}

.close {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: 'Calibri', Fallback, sans-serif;
    background-color: #CC6600;
    color: white;
    font-size: inherit;
    font-weight: bold;
    padding: 9px 12px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 6px;
    border-width: 0;
}

.close:hover {
    background-color: cornflowerblue;
}

#board {
    font-weight: bold;
    position: absolute;
    font-size: calc(50vh/14);
}

#board tr,
#board td {
    border: 2px solid black;
    border-collapse: collapse;
}

#board table,
#board th {
    border-collapse: collapse;
}

.square {
    background-color: white;
    text-align: center;
    position: relative;
    height: calc(40vh/7);
    width: calc(40vh/7);
}

.edge {
    border: 0px solid transparent;
}

.square img {
    max-height: 95%;
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: cell;
}

.crossout {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to bottom right,
            transparent calc(50% - 2px),
            black,
            transparent calc(50% + 2px)), linear-gradient(to top right,
            transparent calc(50% - 2px),
            black,
            transparent calc(50% + 2px));
}

@media screen and (orientation:landscape) {
    #board {
        font-size: calc((100vh - 235px)/14);
    }

    .square {
        height: calc((100vh - 235px)/7);
        width: calc((100vh - 235px)/7);
    }
}

.currentSquare {
    background: lightblue;
    position: fixed;
    padding: 0 10px;
    top: calc(40vh + 300px);
    width: fit-content;
}

.currentSquare h2 {
    font-size: 30px;
    text-align: left;
}

@media screen and (orientation:landscape) {
    .currentSquare {
        left: calc(100vh - 140px);
        top: calc(130px + 10vh);
    }
}
