#joinContent h2 {
  text-align: center;
  font-size: 40px;
}

#joinContent #nameH2 {
  margin-top: 0;
}

#joinContent #join {
  margin: 0 auto;
  font-size: 35px;
  position: relative;
  top: 40px;
}

#joinContent input {
  width: 70%;
  font-family: 'Calibri', Fallback, sans-serif;
  font-size: 40px;
  font-weight: bold;
  display: block;
  margin: auto;
  text-align: center;
  border: 1px solid black;
}

#joinContent .stage1PopUp {
  position: fixed;
  background: #fff;
  border: 1px solid #888;
  padding: 10px;
  width: calc(100% - 437px);
  right: 10px;
  margin-top: 30px;
}

#joinContent #leftBtn {
  position: relative;
  display: inline-block;
  right: calc(110px - 50%);
  height: 70px;
}

#joinContent #rightBtn {
  position: absolute;
  display: inline-block;
  left: calc(50% + 10px);
  height: 70px;
}
