#startContent .niceBox {
    height: 50px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    margin: 0 5px 15px;
}

#startContent .buttonAtRight {
    float: right;
    font-size: 20px;
    height: 50px;
    margin: 0 5px 15px;
}

#startContent #nextSquare {
    position: relative;
    height: unset;
    top: calc(40vh + 145px);
    padding: 0 10px;
}

@media screen and (orientation:landscape) {

    #startContent #nextSquare {
        top: calc(10vh - 25px);
    }
}

/*
#startContent #crewAssembledPopUp button,
#startContent #nextSquareConfirm button {
    padding: 9px 12px;
    margin: 6px;
}
*/
