* {
    cursor: cell;
}

* * {
    cursor: inherit;
    font-family: inherit;
}

.buttonlike,
button,
a {
    cursor: pointer;
}

button:focus,
input:focus,
select:focus,
.buttonlike:focus {
    outline: none; 
    /* remove unsightly default box;
    add beautiful new box */
    box-shadow: 0 0 0 2pt black;
}



body {
    background-color: #DCDCC4;
    font-family: 'Calibri', Fallback, sans-serif;
    overscroll-behavior-y: none; /* prevents accidental reloads on phones and tablets */
}

div {
    border-radius: 10px;
}

.sometext {
    padding: 25px;
    margin: auto;
    font-size: 1em !important;
    background-color: lightblue;
}

.niceButton {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 6px;
    border-width: 0;
    font-family: 'Calibri', Fallback, sans-serif;
    background-color: #CC6600;
}

.niceButton:hover {
    background-color: cornflowerblue!important;
}

.indented {
    margin-left: 4em;
    text-indent: -4em;
}



#navOrTitleBar {
    overflow: hidden;
    background-color: #CC6600;
    position: relative;
    top: 0;
}

#navOrTitleBar #title {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

#navOrTitleBar #title h1 {
    text-decoration: underline;
}

#navOrTitleBar #title label {
    padding-right: 10px;
}

#navOrTitleBar ul {
    list-style-type: none;
}

#navOrTitleBar li {
    float: left;
    margin: 0 5px 15px;
}

#navOrTitleBar #logo:hover {
    background-color: unset !important;
}

#navOrTitleBar #logo img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}


#body404 {
    background-image: url(imgs/Kraken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#div404 {
    position: fixed;
    margin: auto;
    width: 60%;
    height: 20%;
    left: calc(20vw - 25px);
    top: calc(15vh - 25px);
    text-align: center;
}
