* {cursor: cell;}

* * {cursor: inherit;}

body {
	background-color: #DCDCC4;
	font-family: 'Calibri', Fallback, sans-serif;
	overscroll-behavior-y: none;
}

div {border-radius: 10px;}

img, button, a {cursor: pointer;}

#title {
	color: white;
	text-align: center;
	text-decoration: underline;
}

.sometext {
	padding: 25px;
	margin: auto;
	font-size: 1em!important;
}

#nav {
	overflow: hidden;
	background-color: #CC6600;
	position: relative;
	top:0;
}

#nav ul {
	list-style-type: none;
}

#nav li {
	float: left;
	margin: 0 5px 15px;
}

#nav li button {
	background-color: transparent;
   	display: block;
    	color: white;
    	text-align: center;
    	font-size: 20px;
    	font-weight: bold;
    	padding: 14px 16px;
    	text-decoration: none;
    	transition-duration: 0.4s;
    	border-radius: 6px;
    	border-color: transparent;
	outline: none;
}

#nav li button:hover {
	background-color: cornflowerblue;
}

#logo:hover {
    background-color: unset!important;
}

#logo img {
	width: 100px;
	height: auto;
	border-radius: 10px;
}

#titlebar {
	overflow: hidden;
	background-color:#CC6600;
	position: relative;
	top:0;
}

#titlebar h1 {
	font-size: 3em;
}
